@charset "UTF-8";
/*
 * Map Css for Panning Zoom
 */


/* image */
.image {
    border: 10px solid #FFFFFF;
    box-shadow: 5px 5px 5px #666;
    float: left;
    height: 125px;
    margin: 10px;
    overflow: hidden;
    width: 125px;
    cursor:pointer;
}

/* zoom in image */

.zoomin img {
  height: 125px;
  width: 125px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.zoomin img:hover {
  width: 600px;
  height: 600px;
}

/* Zoom Out Image */

.zoomout img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.zoomout img:hover {
  width: 125px;
  height: 125px;
}

/* move horizontal image */

.movehorizontal img {
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
}
 
.movehorizontal img:hover {
  margin-left: -250px;
}

/* move vertical */

.movevertical img {
  margin-top: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
}
 
.movevertical img:hover {
  margin-top: -250px;
}